
@{
    ViewData["Title"] = "NEO v1";
}

<h1>NEO - Near Earth Objects</h1>
<div class="card">
    <h2 class="card-header">Near Earth Objects</h2>
    <div class="m-3" v-if="asteroids.length > 0">

    </div>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>NEO Name</th>
            <th>Close Approach Date</th>
            <th>Miss Distance</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(a,index) in asteroids">
            <td>{{index+1}}</td>
            <td>{{a.is_potentially_hazardous_asteroid}}</td>
            <td>{{a.name}}</td>
            <td>{{a.close_approach_data[0].close_approach_date_full}}</td>
            <td><ul><li v-for="b in asteroids.close_approach_data">{{b.close_approach_date_full}}</li></ul></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">

        const apiKey = "MKTeRhimZ3uiDIQWZF6824vWYhzwk2gva3lrqLIb";
        var url = "";
        var vm = new Vue({
            el: "#app",
            data: {
                asteroids: [],
                dates: []
            },

            created: function () {
                // Run this function as soon as the page is created.
                this.fetchAsteroids();
            },

            methods: {
                // Uses NASA's Astronomy API to fetch Near Earth objects like asteroids and Comets.
                fetchAsteroids: function () {
                    url = "https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=" + apiKey;
                    url = url.replace("START_DATE", "2020-08-31");
                    url = url.replace("END_DATE", "2020-08-31");
                    axios.get(url).then(function (res) {
                        debugger;
                        var neo = res.data.near_earth_objects;
                        console.log(neo);
                        for (const [key, value] of Object.entries(neo)) {
                            vm.asteroids = value;
                            console.log(`${key}: ${value}`);
                        }
                        console.log(vm.asteroids);
                    });
                }
            }
        });
    </script>
}